@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quản Lý Tiến Độ Sinh Viên</title>
</head>
<body>
    <script>
        window.location.href = '/Auth/Login';
    </script>
</body>
</html>
